receiver:
  # Note:
  # receiver assumes /configs/receiver_cert.pem and
  # /configs/receiver_key.pem exists.
  # See Receiver/certs/README.md for more info.
  bind:
    inet-interface: localhost
    inet-port: 8025
  auth-logins:
    - username: apa
      password: banan
    #You can have more logins if you like
    - username: citron
      password: dadel
  ignore-smtp-mail-from-rcpt-to:
    true
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9091
transformer:
  email-headers:
    inject:
      List-Unsubscribe: "<mailto:unsub-{{uuid}}@{{from-domain}}>"
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  # Feel free to add multiple dkim configurations.
  # Return path domain can be the same for all sender domains. It just needs to have an DNS MX entry
  # leading to the mxserver.
  # Note: if you want to use example.com with personal gmail accounts, and use Inboxbooster-Mailer for the rest,
  # make sure you set a return-path-domain that will not collide with MX records for gmail/outlook/etc.
  domain-settings:
   - domain: example.com
     dkim-private-key-file: ../../../cert/dkim-test-private.key
     return-path-domain: example.com
     selector: mailer
     # beacon-url is totally optional.
     beacon-url: "http://localhost:8090/abc/{{ stream-id }}.gif"
   - domain: bexample.com
     dkim-private-key-file: ../../../cert/dkim-test-private.key
     return-path-domain: example.com
     selector: mailer
  # This will change in next version, but for now:
  # feedback-id will be campaign:customer:mailtype:{uuid}
  # https://support.google.com/mail/answer/6254652?hl=en
  feedback-id:
    campaign-id: test-campaign
    mail-type: test-mailtype
    # Third value is uuid
    sender-id: example-sender
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9092
postfixlog:
  # Note: The config map also needs files for Postfix
  #  /configs/myhostname content sets value of myhostname in main.cf
  #  /configs/mailname
  logfile: /var/log/mail.log
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  postfix:
    # run test_dummy_postfix.sh to have a dummy responder for test.
    hostname: localhost
    port: 25
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9093
  string-replacer:
    main-cf:
      # is used in HELO and needs to be resolvable with some ISP, else it will bounce.
      # It doesn't have to be the same as the domain you send from. Point it to the same
      # place as mxserver.
      # If you have a /configs/myhostname file, its content will be used if this entry is not set.
      myhostname: mxserver.example.com
      # main.cf's mailname needs to have an MX entry in your dns, preferably to where mxserver listens.
      # We construct messageid and return-path from the transformer/domain-settings/return-path-domain
      # so this value is not as important as in a normal Postfix installation.
      mailname: example.com
    # If no entry, default port 25 will be used.
    master-cf:
      smtpd-port: 25
mxserver:
  bind:
    inet-interface: localhost
    inet-port: 8026
  eml-directory:
    tmp
  # You need to configure abuse address with Yahoo.
  abuse:
    yahoo:
      to: "example@example.com"
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9094
backdata:
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  # If configured, you'll receive events (delivered, bounce, error, spam-report, unsubscribe).
  # For legal reasons, you need to listen to unsubscribe events and spam-reports, else you
  # might get blocked.
  post-url: "http://localhost:8090"
  # This is an endpoint for bounce and delivered data for deliverability measures.
  #bounce-manager:
  #  secret: apa
  #  cid: 1
  #  url: "http://localhost:8091"
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9095
redis:
  # Only used by the Prometheus datasource to ask Redis for queue sizes.
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9096
common-config:
  # If configured, Redis saves it state here if restarted.
  # If Postfix is restarted, it pushes its current queue to Redis.
  # It's a good idea to configure this.
  # Currently only the s3 protocol is supported.
  object-storage:
    type: s3
    bucket: testbucket
    region: us-east-1
    access-key-id: testkey
    secret-access-key: testsecret
    endpoint-url: https://s3.us-east-1.amazonaws.com
