receiver:
  # Note:
  # receiver assumes /configs/receiver_cert.pem and
  # /configs/receiver_key.pem exists.
  # See Receiver/certs/README.md for more info.
  bind:
    inet-interface: localhost
    inet-port: 8025
  auth-logins:
    - username: apa
      password: banan
    #You can have more logins if you like
    - username: citron
      password: dadel
  ignore-smtp-mail-from-rcpt-to:
    true
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9091
transformer:
  email-headers:
    inject:
      List-Unsubscribe: "<mailto:unsub-{{uuid}}@{{from-domain}}>"
  # TODO remove
  postfix:
    hostname: localhost
    port: 8027
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  # Feel free to add multiple dkim configurations.
  domain-settings:
   - domain: example.com
     dkim-private-key-file: ../../../cert/dkim-test-private.key
     return-path-domain: example.com
     selector: mailer
     # beacon-url is totally optional.
     beacon-url: "http://localhost:8090/abc/{{ stream-id }}.gif"
   - domain: bexample.com
     dkim-private-key-file: ../../../cert/dkim-test-private.key
     return-path-domain: example.com
     selector: mailer
  # This will change in next version, but for now:
  # feedback-id will be campaign:customer:mailtype:{uuid}
  # https://support.google.com/mail/answer/6254652?hl=en
  feedback-id:
    campaign-id: test-campaign
    mail-type: test-mailtype
    # Third value is uuid
    sender-id: example-sender
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9092
postfixlog:
  logfile: /var/log/mail.log
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  postfix:
    # run test_dummy_postfix.sh to have a dummy responder for test.
    hostname: localhost
    port: 8026
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9093
mxserver:
  bind:
    inet-interface: localhost
    inet-port: 8026
  eml-directory:
    tmp
  abuse:
    yahoo:
      to: "example@example.com"
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9094
backdata:
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  post-url: "http://localhost:8090"
  bounce-manager:
    secret: apa
    cid: 1
    url: "http://localhost:8091"
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9095
redis:
  # Only used by the Prometheus datasource to ask Redis for queue sizes.
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  prometheus:
    inet-interface: 0.0.0.0
    inet-port: 9096
common-config:
  object-storage:
    type: s3
    bucket: testbucket
    region: us-east-1
    access-key-id: testkey
    secret-access-key: testsecret
    endpoint-url: https://s3.us-east-1.amazonaws.com
