transformer:
  email-headers:
    inject:
      List-Unsubscribe: <mailto:unsub--test@example.com>
  return-path-domain:
    example.com
  postfix:
    hostname: localhost
    port: 8027
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  log-directory: logs
receiver:
  bind:
    inet-interface: localhost
    inet-port: 8025
  auth-logins:
    primary:
      username: apa
      password: banan
    # secondary is optional
    secondary:
      username: citron
      password: dadel
  ignore-smtp-mail-from-rcpt-to:
    true
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  log-directory: logs
mxserver:
  bind:
    inet-interface: localhost
    inet-port: 8026
  eml-directory:
    tmp
  log-directory: logs
backdata:
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
  post-url: http://localhost:8090
  log-directory: logs
postfixlog:
  logfile: /var/log/mail.log
  #logfile: test/test2.log
  locationfile: /tmp/postfixlog-location
  log-directory: logs
  reliable-queue:
    redis:
      hostname: localhost
      port: 6379
