transformer:
  email-headers:
    inject:
      List-Unsubscribe: <mailto:unsub--test@example.com>
  return-path-domain:
    example.com
receiver:
  bind:
    inet-interface: localhost
    inet-port: 8025
  auth-logins:
    primary:
      username: apa
      password: banan
    # secondary is optional
    secondary:
      username: citron
      password: dadel
  ignore-smtp-mail-from-rcpt-to:
    true
mxserver:
  bind:
    inet-interface: localhost
    inet-port: 8026
  eml-directory:
    tmp

